html, body {
  text-align: center;
  background-color: ghostwhite;
}

.app {
  display: block;
}

.main {
  height: 90%;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

nav {
  display: flex;
  justify-self: center;
  height: 10%;
  background-color: rgb(161, 161, 161);
  color:slategray
}

.nav-anchor {
  margin-left: 1rem;
}

.nav-non-anchor {
  display: flex;
  margin-right: auto;
  margin-left: 1rem;
}

.nav-non-anchor > h3, .nav-user-interaction{
  margin-left: .5rem;
  margin-right: .5rem;
}

.nav-non-anchor > h3 {
  border-left: 1px black solid;
  padding-left: .25rem;
  padding-right: .25rem;
}

.nav-item {
  font-weight: 300;
}

.nav-anchor, .nav-user-interaction {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
  list-style: none;
}

.generated-list {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.generated-list > div {
  padding: .2rem;
  border-top: .5px black solid;
  border-bottom: .5px black solid;
}

.generated-list:first-child {
  border-top: 0px black solid;
}

.generated-list:last-child {
  border-bottom: 0px black solid;
}

.sign-up-form, .sign-in-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}